
body{
    margin:0px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap');

#camera, #camera--view, #camera--sensor, #camera--output{
    position: absolute;
    height: 91vh;
    border: none;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
}

.home-holder{
    padding-top: 5vh;
    padding-bottom: 30vh;
    z-index: -1;
    display: none;
}

.home-holder img{
    min-width: 150px;
    width: 80%;
    height: auto;
    max-width: 600px;
    object-fit: cover;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}

#camera{
    
}

#camera--view, #camera--sensor, #camera--output{
    transform: scaleX(-1);
    filter: FlipH;
}

.taken{
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    right: 20px;
    z-index: 2;
}

#message{
    color: red;
    margin-bottom: 30px;
    text-align: center;
}

.leader{
    display: none;
    padding-top: 9vh;
}

input, button{
    display: block;
    margin: auto auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: 14px;
}

input[type="text"]{
    height: 44px;
    width: 80%;
    max-width: 600px;
    min-width: 200px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
}

input[type="password"]{
    height: 44px;
    width: 80%;
    max-width: 600px;
    min-width: 200px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
}

.loginRegister{
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

#register{
    width: 100%;
    height: auto;
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
}

#login{
    display: none;
    width: 100%;
    height: auto;
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
}

.regButton{
    height: 44px;
    width: 60%;
    text-align: center;
    max-width: 400px;
    min-width: 150px;
    line-height: 44px;
    font-size: 18px;
    border:none;
    border-radius: 4px;
    background: #008DFF;
    color: #FFFFFF;
    font-weight: 700;
}

.bottom-bar{
    height: 9%;
    min-height: 60px;
    width: 100%;
    position: fixed;
    top: 100%;
    transform: translateY(-100%);
    -webkit-box-shadow: 0px -3px 10px 5px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px -3px 10px 5px rgba(0,0,0,0.09);
    box-shadow: 0px -3px 10px 5px rgba(0,0,0,0.09);
    text-align: center;
    z-index: 99;
    background: #FFFFFF;
}

.icon-holder{
    width: 35%;
    height: 9vh;
    min-height: 60px;
    line-height: 9vh;
    display: inline-block;
    text-align: center;
    color: #141414;
    vertical-align: top;
}

.camera-setter{
    width: 25%;
}

.camera-button{
    height: 10vh;
    width: 10vh;
    min-height: 80px;
    min-width: 80px;
    background: #008DFF;
    margin: auto auto;
    border-radius: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-70%);
}